In [3]:
# Importar KedroSession desde el framework de Kedro
from kedro.framework.session import KedroSession
from pathlib import Path
import pandas as pd

# Definir la ruta del directorio raíz del proyecto Kedro
# Dado que el notebook está en 'notebooks', necesitamos subir un nivel en el directorio
project_path = Path.cwd().parent  # Cambia a la raíz del proyecto desde el directorio 'notebooks'

# Crear una sesión Kedro en el directorio raíz del proyecto
with KedroSession.create(project_path=project_path) as session:
    context = session.load_context()

    # Acceder a los parámetros del proyecto
    nhanes_url = context.params["nhanes_url"]

    # Cargar los datos directamente desde la URL utilizando pandas
    nhanes_data = pd.read_sas(nhanes_url, format='xport')

    # Visualizar las primeras filas del DataFrame para entender la estructura de los datos
    display(nhanes_data.head())

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,...,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,WTINTPRP,WTMECPRP,SDMVPSU,SDMVSTRA,INDFMPIR
0,109263.0,66.0,2.0,1.0,2.0,NaN,5.0,6.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,7891.762435,8.951816e+03,3.0,156.0,4.66
1,109264.0,66.0,2.0,2.0,13.0,NaN,1.0,1.0,2.0,1.0,...,2.0,1.0,2.0,2.0,1.0,11689.747264,1.227116e+04,1.0,155.0,0.83
2,109265.0,66.0,2.0,1.0,2.0,NaN,3.0,3.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,16273.825939,1.665876e+04,1.0,157.0,3.06
3,109266.0,66.0,2.0,2.0,29.0,NaN,5.0,6.0,2.0,2.0,...,2.0,1.0,2.0,2.0,1.0,7825.646112,8.154968e+03,2.0,168.0,5.00
4,109267.0,66.0,1.0,2.0,21.0,NaN,2.0,2.0,NaN,2.0,...,2.0,NaN,NaN,NaN,NaN,26379.991724,5.397605e-79,1.0,156.0,5.00

In [11]:
for columna in nhanes_data.columns:
    print(f"------------ Columna {columna} ------------\n {nhanes_data[columna].describe()}\n ------------------------------------ \n")

------------ Columna SEQN ------------
 count     15560.00000
mean     117042.50000
std        4491.92943
min      109263.00000
25%      113152.75000
50%      117042.50000
75%      120932.25000
max      124822.00000
Name: SEQN, dtype: float64
 ------------------------------------

------------ Columna SDDSRVYR ------------
 count    15560.0
mean        66.0
std          0.0
min         66.0
25%         66.0
50%         66.0
75%         66.0
max         66.0
Name: SDDSRVYR, dtype: float64
 ------------------------------------

------------ Columna RIDSTATR ------------
 count    15560.000000
mean         1.919023
std          0.272808
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: RIDSTATR, dtype: float64
 ------------------------------------

------------ Columna RIAGENDR ------------
 count    15560.000000
mean         1.503792
std          0.500002
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: RIAGENDR, dtype: float64
 ------------------------------------

------------ Columna RIDAGEYR ------------
 count    1.556000e+04
mean     3.374248e+01
std      2.532053e+01
min      5.397605e-79
25%      1.000000e+01
50%      3.000000e+01
75%      5.600000e+01
max      8.000000e+01
Name: RIDAGEYR, dtype: float64
 ------------------------------------

------------ Columna RIDAGEMN ------------
 count    9.870000e+02
mean     1.051874e+01
std      7.079411e+00
min      5.397605e-79
25%      4.000000e+00
50%      1.000000e+01
75%      1.700000e+01
max      2.400000e+01
Name: RIDAGEMN, dtype: float64
 ------------------------------------

------------ Columna RIDRETH1 ------------
 count    15560.000000
mean         3.249871
std          1.222644
min          1.000000
25%          3.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: RIDRETH1, dtype: float64
 ------------------------------------

------------ Columna RIDRETH3 ------------
 count    15560.000000
mean         3.486118
std          1.622734
min          1.000000
25%          3.000000
50%          3.000000
75%          4.000000
max          7.000000
Name: RIDRETH3, dtype: float64
 ------------------------------------

------------ Columna RIDEXMON ------------
 count    14300.000000
mean         1.474126
std          0.499348
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          2.000000
Name: RIDEXMON, dtype: float64
 ------------------------------------

------------ Columna DMDBORN4 ------------
 count    15560.000000
mean         1.230206
std          1.728083
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         99.000000
Name: DMDBORN4, dtype: float64
 ------------------------------------

------------ Columna DMDYRUSZ ------------
 count    3028.000000
mean        6.701453
std        18.534338
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max        99.000000
Name: DMDYRUSZ, dtype: float64
 ------------------------------------

------------ Columna DMDEDUC2 ------------
 count    9232.000000
mean        3.551993
std         1.214109
min         1.000000
25%         3.000000
50%         4.000000
75%         4.000000
max         9.000000
Name: DMDEDUC2, dtype: float64
 ------------------------------------

------------ Columna DMDMARTZ ------------
 count    9232.000000
mean        1.708622
std         2.755878
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        99.000000
Name: DMDMARTZ, dtype: float64
 ------------------------------------

------------ Columna RIDEXPRG ------------
 count    1874.000000
mean        2.051227
std         0.376202
min         1.000000
25%         2.000000
50%         2.000000
75%         2.000000
max         3.000000
Name: RIDEXPRG, dtype: float64
 ------------------------------------

------------ Columna SIALANG ------------
 count    15560.000000
mean         1.100064
std          0.300095
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: SIALANG, dtype: float64
 ------------------------------------

------------ Columna SIAPROXY ------------
 count    15560.000000
mean         1.645308
std          0.478435
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: SIAPROXY, dtype: float64
 ------------------------------------

------------ Columna SIAINTRP ------------
 count    15560.000000
mean         1.974229
std          0.158457
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: SIAINTRP, dtype: float64
 ------------------------------------

------------ Columna FIALANG ------------
 count    14481.000000
mean         1.094538
std          0.292585
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: FIALANG, dtype: float64
 ------------------------------------

------------ Columna FIAPROXY ------------
 count    14481.000000
mean         1.998135
std          0.043141
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: FIAPROXY, dtype: float64
 ------------------------------------

------------ Columna FIAINTRP ------------
 count    14481.000000
mean         1.978109
std          0.146332
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: FIAINTRP, dtype: float64
 ------------------------------------

------------ Columna MIALANG ------------
 count    11000.000000
mean         1.069182
std          0.253775
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: MIALANG, dtype: float64
 ------------------------------------

------------ Columna MIAPROXY ------------
 count    11000.000000
mean         1.992182
std          0.088078
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: MIAPROXY, dtype: float64
 ------------------------------------

------------ Columna MIAINTRP ------------
 count    11000.000000
mean         1.976727
std          0.150775
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: MIAINTRP, dtype: float64
 ------------------------------------

------------ Columna AIALANGA ------------
 count    8224.000000
mean        1.116610
std         0.359234
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         3.000000
Name: AIALANGA, dtype: float64
 ------------------------------------

------------ Columna WTINTPRP ------------
 count     15560.000000
mean      20714.921079
std       25323.916482
min        1017.784203
25%        7435.543058
50%       12712.564300
75%       22761.140907
max      338363.600192
Name: WTINTPRP, dtype: float64
 ------------------------------------

------------ Columna WTMECPRP ------------
 count    1.556000e+04
mean     2.071492e+04
std      2.711491e+04
min      5.397605e-79
25%      6.762822e+03
50%      1.263958e+04
75%      2.330839e+04
max      3.675557e+05
Name: WTMECPRP, dtype: float64
 ------------------------------------

------------ Columna SDMVPSU ------------
 count    15560.000000
mean         1.540553
std          0.540678
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          3.000000
Name: SDMVPSU, dtype: float64
 ------------------------------------

------------ Columna SDMVSTRA ------------
 count    15560.000000
mean       160.267995
std          6.974232
min        149.000000
25%        155.000000
50%        160.000000
75%        166.000000
max        172.000000
Name: SDMVSTRA, dtype: float64
 ------------------------------------

------------ Columna INDFMPIR ------------
 count    1.335900e+04
mean     2.405937e+00
std      1.634346e+00
min      5.397605e-79
25%      1.020000e+00
50%      1.960000e+00
75%      3.880000e+00
max      5.000000e+00
Name: INDFMPIR, dtype: float64
 ------------------------------------

In [1]:
%load_ext kedro.ipython

The kedro.ipython extension is already loaded. To reload it, use:
  %reload_ext kedro.ipython

In [4]:
nhanes_datos = catalog.load(

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ in <module>:1                                                                                    │
│                                                                                                  │
│ ❱ 1 nhanes_datos                                                                                 │
│   2                                                                                              │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
NameError: name 'nhanes_datos' is not defined