In [2]:
%load_ext kedro.ipython
import pandas as pd

The kedro.ipython extension is already loaded. To reload it, use:
  %reload_ext kedro.ipython

In [4]:
demografia = catalog.load("demografia")
insulina = catalog.load("insulina")
colesterol = catalog.load("colesterol")
depresion = catalog.load("depresion")
proteinaC = catalog.load("proteinaC")

[09/02/24 23:00:09] INFO     Loading data from demografia (ParquetDataset)...                   ]8;id=337003;file://C:\Users\crist\desktop\kedro\.venv\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=499963;file://C:\Users\crist\desktop\kedro\.venv\Lib\site-packages\kedro\io\data_catalog.py#539\539]8;;\

                    INFO     Loading data from insulina (ParquetDataset)...                     ]8;id=993533;file://C:\Users\crist\desktop\kedro\.venv\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=774804;file://C:\Users\crist\desktop\kedro\.venv\Lib\site-packages\kedro\io\data_catalog.py#539\539]8;;\

                    INFO     Loading data from colesterol (ParquetDataset)...                   ]8;id=28140;file://C:\Users\crist\desktop\kedro\.venv\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=967002;file://C:\Users\crist\desktop\kedro\.venv\Lib\site-packages\kedro\io\data_catalog.py#539\539]8;;\

                    INFO     Loading data from depresion (ParquetDataset)...                    ]8;id=995258;file://C:\Users\crist\desktop\kedro\.venv\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=410976;file://C:\Users\crist\desktop\kedro\.venv\Lib\site-packages\kedro\io\data_catalog.py#539\539]8;;\

                    INFO     Loading data from proteinaC (ParquetDataset)...                    ]8;id=126355;file://C:\Users\crist\desktop\kedro\.venv\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=36891;file://C:\Users\crist\desktop\kedro\.venv\Lib\site-packages\kedro\io\data_catalog.py#539\539]8;;\

In [55]:
for columna in demografia.columns:
    print(f"------------ Columna {columna} ------------\n {demografia[columna].describe()}\n ------------------------------------ \n")

------------ Columna SEQN ------------
 count    15560.00
mean    117042.50
std       4491.93
min     109263.00
25%     113152.75
50%     117042.50
75%     120932.25
max     124822.00
Name: SEQN, dtype: float64
 ------------------------------------

------------ Columna SDDSRVYR ------------
 count   15560.00
mean       66.00
std         0.00
min        66.00
25%        66.00
50%        66.00
75%        66.00
max        66.00
Name: SDDSRVYR, dtype: float64
 ------------------------------------

------------ Columna RIDSTATR ------------
 count   15560.00
mean        1.92
std         0.27
min         1.00
25%         2.00
50%         2.00
75%         2.00
max         2.00
Name: RIDSTATR, dtype: float64
 ------------------------------------

------------ Columna RIAGENDR ------------
 count   15560.00
mean        1.50
std         0.50
min         1.00
25%         1.00
50%         2.00
75%         2.00
max         2.00
Name: RIAGENDR, dtype: float64
 ------------------------------------

------------ Columna RIDAGEYR ------------
 count   15560.00
mean       33.74
std        25.32
min         0.00
25%        10.00
50%        30.00
75%        56.00
max        80.00
Name: RIDAGEYR, dtype: float64
 ------------------------------------

------------ Columna RIDAGEMN ------------
 count   987.00
mean     10.52
std       7.08
min       0.00
25%       4.00
50%      10.00
75%      17.00
max      24.00
Name: RIDAGEMN, dtype: float64
 ------------------------------------

------------ Columna RIDRETH1 ------------
 count   15560.00
mean        3.25
std         1.22
min         1.00
25%         3.00
50%         3.00
75%         4.00
max         5.00
Name: RIDRETH1, dtype: float64
 ------------------------------------

------------ Columna RIDRETH3 ------------
 count   15560.00
mean        3.49
std         1.62
min         1.00
25%         3.00
50%         3.00
75%         4.00
max         7.00
Name: RIDRETH3, dtype: float64
 ------------------------------------

------------ Columna RIDEXMON ------------
 count   14300.00
mean        1.47
std         0.50
min         1.00
25%         1.00
50%         1.00
75%         2.00
max         2.00
Name: RIDEXMON, dtype: float64
 ------------------------------------

------------ Columna DMDBORN4 ------------
 count   15560.00
mean        1.23
std         1.73
min         1.00
25%         1.00
50%         1.00
75%         1.00
max        99.00
Name: DMDBORN4, dtype: float64
 ------------------------------------

------------ Columna DMDYRUSZ ------------
 count   3028.00
mean       6.70
std       18.53
min        1.00
25%        2.00
50%        3.00
75%        4.00
max       99.00
Name: DMDYRUSZ, dtype: float64
 ------------------------------------

------------ Columna DMDEDUC2 ------------
 count   9232.00
mean       3.55
std        1.21
min        1.00
25%        3.00
50%        4.00
75%        4.00
max        9.00
Name: DMDEDUC2, dtype: float64
 ------------------------------------

------------ Columna DMDMARTZ ------------
 count   9232.00
mean       1.71
std        2.76
min        1.00
25%        1.00
50%        1.00
75%        2.00
max       99.00
Name: DMDMARTZ, dtype: float64
 ------------------------------------

------------ Columna RIDEXPRG ------------
 count   1874.00
mean       2.05
std        0.38
min        1.00
25%        2.00
50%        2.00
75%        2.00
max        3.00
Name: RIDEXPRG, dtype: float64
 ------------------------------------

------------ Columna SIALANG ------------
 count   15560.00
mean        1.10
std         0.30
min         1.00
25%         1.00
50%         1.00
75%         1.00
max         2.00
Name: SIALANG, dtype: float64
 ------------------------------------

------------ Columna SIAPROXY ------------
 count   15560.00
mean        1.65
std         0.48
min         1.00
25%         1.00
50%         2.00
75%         2.00
max         2.00
Name: SIAPROXY, dtype: float64
 ------------------------------------

------------ Columna SIAINTRP ------------
 count   15560.00
mean        1.97
std         0.16
min         1.00
25%         2.00
50%         2.00
75%         2.00
max         2.00
Name: SIAINTRP, dtype: float64
 ------------------------------------

------------ Columna FIALANG ------------
 count   14481.00
mean        1.09
std         0.29
min         1.00
25%         1.00
50%         1.00
75%         1.00
max         2.00
Name: FIALANG, dtype: float64
 ------------------------------------

------------ Columna FIAPROXY ------------
 count   14481.00
mean        2.00
std         0.04
min         1.00
25%         2.00
50%         2.00
75%         2.00
max         2.00
Name: FIAPROXY, dtype: float64
 ------------------------------------

------------ Columna FIAINTRP ------------
 count   14481.00
mean        1.98
std         0.15
min         1.00
25%         2.00
50%         2.00
75%         2.00
max         2.00
Name: FIAINTRP, dtype: float64
 ------------------------------------

------------ Columna MIALANG ------------
 count   11000.00
mean        1.07
std         0.25
min         1.00
25%         1.00
50%         1.00
75%         1.00
max         2.00
Name: MIALANG, dtype: float64
 ------------------------------------

------------ Columna MIAPROXY ------------
 count   11000.00
mean        1.99
std         0.09
min         1.00
25%         2.00
50%         2.00
75%         2.00
max         2.00
Name: MIAPROXY, dtype: float64
 ------------------------------------

------------ Columna MIAINTRP ------------
 count   11000.00
mean        1.98
std         0.15
min         1.00
25%         2.00
50%         2.00
75%         2.00
max         2.00
Name: MIAINTRP, dtype: float64
 ------------------------------------

------------ Columna AIALANGA ------------
 count   8224.00
mean       1.12
std        0.36
min        1.00
25%        1.00
50%        1.00
75%        1.00
max        3.00
Name: AIALANGA, dtype: float64
 ------------------------------------

------------ Columna WTINTPRP ------------
 count    15560.00
mean     20714.92
std      25323.92
min       1017.78
25%       7435.54
50%      12712.56
75%      22761.14
max     338363.60
Name: WTINTPRP, dtype: float64
 ------------------------------------

------------ Columna WTMECPRP ------------
 count    15560.00
mean     20714.92
std      27114.91
min          0.00
25%       6762.82
50%      12639.58
75%      23308.39
max     367555.74
Name: WTMECPRP, dtype: float64
 ------------------------------------

------------ Columna SDMVPSU ------------
 count   15560.00
mean        1.54
std         0.54
min         1.00
25%         1.00
50%         2.00
75%         2.00
max         3.00
Name: SDMVPSU, dtype: float64
 ------------------------------------

------------ Columna SDMVSTRA ------------
 count   15560.00
mean      160.27
std         6.97
min       149.00
25%       155.00
50%       160.00
75%       166.00
max       172.00
Name: SDMVSTRA, dtype: float64
 ------------------------------------

------------ Columna INDFMPIR ------------
 count   13359.00
mean        2.41
std         1.63
min         0.00
25%         1.02
50%         1.96
75%         3.88
max         5.00
Name: INDFMPIR, dtype: float64
 ------------------------------------

In [56]:
for columna in insulina.columns:
    print(f"------------ Columna {columna} ------------\n {insulina[columna].describe()}\n ------------------------------------ \n")

------------ Columna SEQN ------------
 count     5090.00
mean    117177.33
std       4487.34
min     109264.00
25%     113303.50
50%     117265.50
75%     121046.50
max     124822.00
Name: SEQN, dtype: float64
 ------------------------------------

------------ Columna WTSAFPRP ------------
 count     5090.00
mean     53883.96
std      68538.13
min          0.00
25%      17305.97
50%      32845.10
75%      62135.88
max     741259.19
Name: WTSAFPRP, dtype: float64
 ------------------------------------

------------ Columna LBXIN ------------
 count   4625.00
mean      14.98
std       22.85
min        0.71
25%        6.31
50%       10.18
75%       16.61
max      512.50
Name: LBXIN, dtype: float64
 ------------------------------------

------------ Columna LBDINSI ------------
 count   4625.00
mean      89.85
std      137.07
min        4.26
25%       37.86
50%       61.08
75%       99.66
max     3075.00
Name: LBDINSI, dtype: float64
 ------------------------------------

------------ Columna LBDINLC ------------
 count   4625.00
mean       0.00
std        0.04
min        0.00
25%        0.00
50%        0.00
75%        0.00
max        1.00
Name: LBDINLC, dtype: float64
 ------------------------------------

In [57]:
for columna in colesterol.columns:
    print(f"------------ Columna {columna} ------------\n {colesterol[columna].describe()}\n ------------------------------------ \n")

------------ Columna SEQN ------------
 count    12198.00
mean    117082.95
std       4498.67
min     109264.00
25%     113178.25
50%     117098.50
75%     120994.75
max     124822.00
Name: SEQN, dtype: float64
 ------------------------------------

------------ Columna LBXTC ------------
 count   10828.00
mean      177.46
std        40.36
min        71.00
25%       149.00
50%       173.00
75%       201.00
max       446.00
Name: LBXTC, dtype: float64
 ------------------------------------

------------ Columna LBDTCSI ------------
 count   10828.00
mean        4.59
std         1.04
min         1.84
25%         3.85
50%         4.47
75%         5.20
max        11.53
Name: LBDTCSI, dtype: float64
 ------------------------------------

In [58]:
for columna in depresion.columns:
    print(f"------------ Columna {columna} ------------\n {depresion[columna].describe()}\n ------------------------------------ \n")

------------ Columna SEQN ------------
 count     8965.00
mean    117107.85
std       4501.05
min     109266.00
25%     113211.00
50%     117091.00
75%     121022.00
max     124822.00
Name: SEQN, dtype: float64
 ------------------------------------

------------ Columna DPQ010 ------------
 count   8308.00
mean       0.40
std        0.80
min        0.00
25%        0.00
50%        0.00
75%        1.00
max        9.00
Name: DPQ010, dtype: float64
 ------------------------------------

------------ Columna DPQ020 ------------
 count   8306.00
mean       0.37
std        0.76
min        0.00
25%        0.00
50%        0.00
75%        1.00
max        9.00
Name: DPQ020, dtype: float64
 ------------------------------------

------------ Columna DPQ030 ------------
 count   8306.00
mean       0.66
std        0.99
min        0.00
25%        0.00
50%        0.00
75%        1.00
max        9.00
Name: DPQ030, dtype: float64
 ------------------------------------

------------ Columna DPQ040 ------------
 count   8305.00
mean       0.76
std        0.96
min        0.00
25%        0.00
50%        0.00
75%        1.00
max        9.00
Name: DPQ040, dtype: float64
 ------------------------------------

------------ Columna DPQ050 ------------
 count   8305.00
mean       0.41
std        0.82
min        0.00
25%        0.00
50%        0.00
75%        1.00
max        9.00
Name: DPQ050, dtype: float64
 ------------------------------------

------------ Columna DPQ060 ------------
 count   8304.00
mean       0.26
std        0.68
min        0.00
25%        0.00
50%        0.00
75%        0.00
max        9.00
Name: DPQ060, dtype: float64
 ------------------------------------

------------ Columna DPQ070 ------------
 count   8304.00
mean       0.28
std        0.71
min        0.00
25%        0.00
50%        0.00
75%        0.00
max        9.00
Name: DPQ070, dtype: float64
 ------------------------------------

------------ Columna DPQ080 ------------
 count   8304.00
mean       0.17
std        0.59
min        0.00
25%        0.00
50%        0.00
75%        0.00
max        9.00
Name: DPQ080, dtype: float64
 ------------------------------------

------------ Columna DPQ090 ------------
 count   8302.00
mean       0.06
std        0.37
min        0.00
25%        0.00
50%        0.00
75%        0.00
max        9.00
Name: DPQ090, dtype: float64
 ------------------------------------

------------ Columna DPQ100 ------------
 count   5540.00
mean       0.33
std        0.66
min        0.00
25%        0.00
50%        0.00
75%        1.00
max        9.00
Name: DPQ100, dtype: float64
 ------------------------------------

In [59]:
for columna in proteinaC.columns:
    print(f"------------ Columna {columna} ------------\n {proteinaC[columna].describe()}\n ------------------------------------ \n")

------------ Columna SEQN ------------
 count    13772.00
mean    117079.86
std       4498.55
min     109263.00
25%     113184.75
50%     117104.50
75%     120981.25
max     124822.00
Name: SEQN, dtype: float64
 ------------------------------------

------------ Columna LBXHSCRP ------------
 count   11614.00
mean        3.42
std         7.79
min         0.11
25%         0.52
50%         1.32
75%         3.62
max       246.86
Name: LBXHSCRP, dtype: float64
 ------------------------------------

------------ Columna LBDHRPLC ------------
 count   11614.00
mean        0.03
std         0.18
min         0.00
25%         0.00
50%         0.00
75%         0.00
max         1.00
Name: LBDHRPLC, dtype: float64
 ------------------------------------

In [60]:
demografia.columns

Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'DMDBORN4', 'DMDYRUSZ', 'DMDEDUC2',
       'DMDMARTZ', 'RIDEXPRG', 'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG',
       'FIAPROXY', 'FIAINTRP', 'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA',
       'WTINTPRP', 'WTMECPRP', 'SDMVPSU', 'SDMVSTRA', 'INDFMPIR'],
      dtype='object')

In [5]:
consideracion = pd.DataFrame()
consideracion["ID"] = demografia["SEQN"]
consideracion["Edad"] = demografia["RIDAGEYR"]
consideracion["Genero"] = demografia["RIAGENDR"] #1 = hombre; 2= mujer
consideracion["Raza"] = demografia["RIDRETH3"] # 1 = mexico; 2 = otro hispano; 3 = Blanco; 4= negro; 6= asiatico; 7 = otro
consideracion["Educacion"] = demografia["DMDEDUC2"] #ver nhanes
consideracion["EstadoCivil"] = demografia["DMDMARTZ"]
consideracion["NivelPobreza"] = demografia["INDFMPIR"]

In [9]:
pd.options.display.float_format = '{:.2f}'.format
consideracion[consideracion["NivelPobreza"]<1]

           ID  Edad  Genero  Raza  Educacion  EstadoCivil  NivelPobreza
1      109264    13       2     1          0            0          0.83
6      109269     2       1     2          0            0          0.96
9      109272     0       1     1          0            0          0.73
10     109273    36       1     3          4            3          0.83
13     109276     0       1     4          0            0          0.00
...       ...   ...     ...   ...        ...          ...           ...
15524  124787    19       2     4          0            0          0.80
15529  124792    32       1     2          5            3          0.00
15535  124798    55       1     2          1            3          0.80
15543  124806     4       2     4          0            0          0.38
15556  124819     2       1     4          0            0          0.07

[3226 rows x 7 columns]

In [6]:
for columna in consideracion.columns[:-1]:
    consideracion[columna] = consideracion[columna].fillna(0)
    consideracion[columna] = consideracion[columna].astype(int)
consideracion

           ID  Edad  Genero  Raza  Educacion  EstadoCivil  NivelPobreza
0      109263     2       1     6          0            0          4.66
1      109264    13       2     1          0            0          0.83
2      109265     2       1     3          0            0          3.06
3      109266    29       2     6          5            3          5.00
4      109267    21       2     2          4            3          5.00
...       ...   ...     ...   ...        ...          ...           ...
15555  124818    40       1     4          5            1          3.82
15556  124819     2       1     4          0            0          0.07
15557  124820     7       2     3          0            0          1.22
15558  124821    63       1     4          2            2          3.71
15559  124822    74       1     2          3            1           NaN

[15560 rows x 7 columns]

In [7]:
insulina['SEQN'] = insulina['SEQN'].astype(int)
insulina = insulina.rename(columns={'SEQN': 'ID'})
insulina = insulina.rename(columns={'WTSAFPRP': "Peso de Submuestra en Ayunas"})
insulina = insulina.rename(columns={'LBXIN': "Insulina (μU/mL)"})
insulina = insulina.rename(columns={'LBDINSI': "Insulina (pmol/L)"})
insulina = insulina.rename(columns={'LBDINLC': "Código de Comentario de Insulina"})

In [66]:
consideracion_insulina = pd.merge(consideracion, insulina, on='ID', how='outer')

In [67]:
consideracion_insulina.head()

,ID,Edad,Genero,Raza,Educacion,EstadoCivil,NivelPobreza,Peso de Submuestra en Ayunas,Insulina (μU/mL),Insulina (pmol/L),Código de Comentario de Insulina
0,109263,2,1,6,0,0,4.66,NaN,NaN,NaN,NaN
1,109264,13,2,1,0,0,0.83,27533.17,6.05,36.30,0.00
2,109265,2,1,3,0,0,3.06,NaN,NaN,NaN,NaN
3,109266,29,2,6,5,3,5.00,NaN,NaN,NaN,NaN
4,109267,21,2,2,4,3,5.00,NaN,NaN,NaN,NaN

In [14]:
insulina_inter = pd.merge(consideracion, insulina, on='ID', how='inner')

In [18]:
insulina_inter.isna().sum()

ID                                    0
Edad                                  0
Genero                                0
Raza                                  0
Educacion                             0
EstadoCivil                           0
NivelPobreza                        703
Peso de Submuestra en Ayunas          0
Insulina (μU/mL)                    465
Insulina (pmol/L)                   465
Código de Comentario de Insulina    465
dtype: int64

In [19]:
insulina_nonna = insulina_inter.dropna()

In [20]:
insulina_nonna

,ID,Edad,Genero,Raza,Educacion,EstadoCivil,NivelPobreza,Peso de Submuestra en Ayunas,Insulina (μU/mL),Insulina (pmol/L),Código de Comentario de Insulina
0,109264,13,2,1,0,0,0.83,27533.17,6.05,36.30,0.00
2,109274,68,1,7,4,3,1.20,16281.76,13.52,81.12,0.00
3,109277,12,2,1,0,0,1.35,32230.05,6.44,38.64,0.00
4,109282,76,1,3,5,1,3.61,79007.10,7.49,44.94,0.00
5,109286,33,2,6,5,1,1.36,0.00,16.46,98.76,0.00
...,...,...,...,...,...,...,...,...,...,...,...
5083,124810,56,2,4,4,3,1.93,15125.62,20.12,120.72,0.00
5084,124812,62,2,2,4,1,5.00,0.00,21.67,130.02,0.00
5086,124814,64,1,4,3,2,2.00,9339.90,7.27,43.62,0.00
5087,124815,52,1,4,4,2,5.00,75210.18,7.10,42.60,0.00
5088,124821,63,1,4,2,2,3.71,10704.47,7.75,46.50,0.00

In [68]:
colesterol = colesterol.rename(columns={
    'SEQN': 'ID',
    'LBXTC': 'Colesterol Total (mg/dL)',
    'LBDTCSI': 'Colesterol Total (mmol/L)'
})

In [69]:
consideracion_colesterol = pd.merge(consideracion_insulina, colesterol, on='ID', how='outer')

In [70]:
consideracion_colesterol.head()

,ID,Edad,Genero,Raza,Educacion,EstadoCivil,NivelPobreza,Peso de Submuestra en Ayunas,Insulina (μU/mL),Insulina (pmol/L),Código de Comentario de Insulina,Colesterol Total (mg/dL),Colesterol Total (mmol/L)
0,109263,2,1,6,0,0,4.66,NaN,NaN,NaN,NaN,NaN,NaN
1,109264,13,2,1,0,0,0.83,27533.17,6.05,36.30,0.00,166.00,4.29
2,109265,2,1,3,0,0,3.06,NaN,NaN,NaN,NaN,NaN,NaN
3,109266,29,2,6,5,3,5.00,NaN,NaN,NaN,NaN,195.00,5.04
4,109267,21,2,2,4,3,5.00,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
proteinaC = proteinaC.rename(columns={
    'SEQN': 'ID',
    'LBXHSCRP': 'Proteína C Reactiva (mg/L)',
    'LBDHRPLC': 'Código de Comentario de Proteína C Reactiva'
})

In [74]:
consideracion_proteinaC = pd.merge(consideracion_colesterol, proteinaC, on='ID', how='outer')

In [75]:
consideracion_proteinaC.head()

,ID,Edad,Genero,Raza,Educacion,EstadoCivil,NivelPobreza,Peso de Submuestra en Ayunas,Insulina (μU/mL),Insulina (pmol/L),Código de Comentario de Insulina,Colesterol Total (mg/dL),Colesterol Total (mmol/L),Proteína C Reactiva (mg/L),Código de Comentario de Proteína C Reactiva
0,109263,2,1,6,0,0,4.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,109264,13,2,1,0,0,0.83,27533.17,6.05,36.30,0.00,166.00,4.29,0.11,1.00
2,109265,2,1,3,0,0,3.06,NaN,NaN,NaN,NaN,NaN,NaN,0.31,0.00
3,109266,29,2,6,5,3,5.00,NaN,NaN,NaN,NaN,195.00,5.04,0.72,0.00
4,109267,21,2,2,4,3,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
depresion = depresion.rename(columns={
    'SEQN': 'ID',
    'DPQ010': 'Poca Interés en Hacer Cosas',
    'DPQ020': 'Sentirse Deprimido o Sin Esperanza',
    'DPQ030': 'Problemas para Dormir',
    'DPQ040': 'Cansancio o Poca Energía',
    'DPQ050': 'Poco Apetito o Comer en Exceso',
    'DPQ060': 'Sentirse Mal Acerca de Uno Mismo',
    'DPQ070': 'Problemas de Concentración',
    'DPQ080': 'Movimientos o Hablar Lento o Rápido',
    'DPQ090': 'Pensamientos de Muerte o Autolesión',
    'DPQ100': 'Dificultad que Estos Problemas Causan'
})

In [77]:
consideracion_proteinaC = pd.merge(consideracion_proteinaC, depresion, on='ID', how='outer')

In [78]:
consideracion_proteinaC.head()

,ID,Edad,Genero,Raza,Educacion,EstadoCivil,NivelPobreza,Peso de Submuestra en Ayunas,Insulina (μU/mL),Insulina (pmol/L),...,Poca Interés en Hacer Cosas,Sentirse Deprimido o Sin Esperanza,Problemas para Dormir,Cansancio o Poca Energía,Poco Apetito o Comer en Exceso,Sentirse Mal Acerca de Uno Mismo,Problemas de Concentración,Movimientos o Hablar Lento o Rápido,Pensamientos de Muerte o Autolesión,Dificultad que Estos Problemas Causan
0,109263,2,1,6,0,0,4.66,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,109264,13,2,1,0,0,0.83,27533.17,6.05,36.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,109265,2,1,3,0,0,3.06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,109266,29,2,6,5,3,5.00,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
4,109267,21,2,2,4,3,5.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN