In [1]:
%load_ext kedro.ipython
import pandas as pd

The kedro.ipython extension is already loaded. To reload it, use:
  %reload_ext kedro.ipython

In [2]:
demografia = catalog.load("demografia")
insulina = catalog.load("insulina")
colesterol = catalog.load("colesterol")
depresion = catalog.load("depresion")
proteinaC = catalog.load("proteinaC")

[09/02/24 23:01:18] INFO     Loading data from demografia (ParquetDataset)...                   ]8;id=550534;file://C:\Python312\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=145457;file://C:\Python312\Lib\site-packages\kedro\io\data_catalog.py#539\539]8;;\

                    INFO     Loading data from insulina (ParquetDataset)...                     ]8;id=352522;file://C:\Python312\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=229099;file://C:\Python312\Lib\site-packages\kedro\io\data_catalog.py#539\539]8;;\

                    INFO     Loading data from colesterol (ParquetDataset)...                   ]8;id=82557;file://C:\Python312\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=850077;file://C:\Python312\Lib\site-packages\kedro\io\data_catalog.py#539\539]8;;\

                    INFO     Loading data from depresion (ParquetDataset)...                    ]8;id=373471;file://C:\Python312\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=40717;file://C:\Python312\Lib\site-packages\kedro\io\data_catalog.py#539\539]8;;\

                    INFO     Loading data from proteinaC (ParquetDataset)...                    ]8;id=59698;file://C:\Python312\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=473648;file://C:\Python312\Lib\site-packages\kedro\io\data_catalog.py#539\539]8;;\

In [3]:
for columna in demografia.columns:
    print(f"------------ Columna {columna} ------------\n {demografia[columna].describe()}\n ------------------------------------ \n")

------------ Columna SEQN ------------
 count     15560.00000
mean     117042.50000
std        4491.92943
min      109263.00000
25%      113152.75000
50%      117042.50000
75%      120932.25000
max      124822.00000
Name: SEQN, dtype: float64
 ------------------------------------

------------ Columna SDDSRVYR ------------
 count    15560.0
mean        66.0
std          0.0
min         66.0
25%         66.0
50%         66.0
75%         66.0
max         66.0
Name: SDDSRVYR, dtype: float64
 ------------------------------------

------------ Columna RIDSTATR ------------
 count    15560.000000
mean         1.919023
std          0.272808
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: RIDSTATR, dtype: float64
 ------------------------------------

------------ Columna RIAGENDR ------------
 count    15560.000000
mean         1.503792
std          0.500002
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: RIAGENDR, dtype: float64
 ------------------------------------

------------ Columna RIDAGEYR ------------
 count    1.556000e+04
mean     3.374248e+01
std      2.532053e+01
min      5.397605e-79
25%      1.000000e+01
50%      3.000000e+01
75%      5.600000e+01
max      8.000000e+01
Name: RIDAGEYR, dtype: float64
 ------------------------------------

------------ Columna RIDAGEMN ------------
 count    9.870000e+02
mean     1.051874e+01
std      7.079411e+00
min      5.397605e-79
25%      4.000000e+00
50%      1.000000e+01
75%      1.700000e+01
max      2.400000e+01
Name: RIDAGEMN, dtype: float64
 ------------------------------------

------------ Columna RIDRETH1 ------------
 count    15560.000000
mean         3.249871
std          1.222644
min          1.000000
25%          3.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: RIDRETH1, dtype: float64
 ------------------------------------

------------ Columna RIDRETH3 ------------
 count    15560.000000
mean         3.486118
std          1.622734
min          1.000000
25%          3.000000
50%          3.000000
75%          4.000000
max          7.000000
Name: RIDRETH3, dtype: float64
 ------------------------------------

------------ Columna RIDEXMON ------------
 count    14300.000000
mean         1.474126
std          0.499348
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          2.000000
Name: RIDEXMON, dtype: float64
 ------------------------------------

------------ Columna DMDBORN4 ------------
 count    15560.000000
mean         1.230206
std          1.728083
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         99.000000
Name: DMDBORN4, dtype: float64
 ------------------------------------

------------ Columna DMDYRUSZ ------------
 count    3028.000000
mean        6.701453
std        18.534338
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max        99.000000
Name: DMDYRUSZ, dtype: float64
 ------------------------------------

------------ Columna DMDEDUC2 ------------
 count    9232.000000
mean        3.551993
std         1.214109
min         1.000000
25%         3.000000
50%         4.000000
75%         4.000000
max         9.000000
Name: DMDEDUC2, dtype: float64
 ------------------------------------

------------ Columna DMDMARTZ ------------
 count    9232.000000
mean        1.708622
std         2.755878
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        99.000000
Name: DMDMARTZ, dtype: float64
 ------------------------------------

------------ Columna RIDEXPRG ------------
 count    1874.000000
mean        2.051227
std         0.376202
min         1.000000
25%         2.000000
50%         2.000000
75%         2.000000
max         3.000000
Name: RIDEXPRG, dtype: float64
 ------------------------------------

------------ Columna SIALANG ------------
 count    15560.000000
mean         1.100064
std          0.300095
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: SIALANG, dtype: float64
 ------------------------------------

------------ Columna SIAPROXY ------------
 count    15560.000000
mean         1.645308
std          0.478435
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: SIAPROXY, dtype: float64
 ------------------------------------

------------ Columna SIAINTRP ------------
 count    15560.000000
mean         1.974229
std          0.158457
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: SIAINTRP, dtype: float64
 ------------------------------------

------------ Columna FIALANG ------------
 count    14481.000000
mean         1.094538
std          0.292585
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: FIALANG, dtype: float64
 ------------------------------------

------------ Columna FIAPROXY ------------
 count    14481.000000
mean         1.998135
std          0.043141
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: FIAPROXY, dtype: float64
 ------------------------------------

------------ Columna FIAINTRP ------------
 count    14481.000000
mean         1.978109
std          0.146332
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: FIAINTRP, dtype: float64
 ------------------------------------

------------ Columna MIALANG ------------
 count    11000.000000
mean         1.069182
std          0.253775
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: MIALANG, dtype: float64
 ------------------------------------

------------ Columna MIAPROXY ------------
 count    11000.000000
mean         1.992182
std          0.088078
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: MIAPROXY, dtype: float64
 ------------------------------------

------------ Columna MIAINTRP ------------
 count    11000.000000
mean         1.976727
std          0.150775
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: MIAINTRP, dtype: float64
 ------------------------------------

------------ Columna AIALANGA ------------
 count    8224.000000
mean        1.116610
std         0.359234
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         3.000000
Name: AIALANGA, dtype: float64
 ------------------------------------

------------ Columna WTINTPRP ------------
 count     15560.000000
mean      20714.921079
std       25323.916482
min        1017.784203
25%        7435.543058
50%       12712.564300
75%       22761.140907
max      338363.600192
Name: WTINTPRP, dtype: float64
 ------------------------------------

------------ Columna WTMECPRP ------------
 count    1.556000e+04
mean     2.071492e+04
std      2.711491e+04
min      5.397605e-79
25%      6.762822e+03
50%      1.263958e+04
75%      2.330839e+04
max      3.675557e+05
Name: WTMECPRP, dtype: float64
 ------------------------------------

------------ Columna SDMVPSU ------------
 count    15560.000000
mean         1.540553
std          0.540678
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          3.000000
Name: SDMVPSU, dtype: float64
 ------------------------------------

------------ Columna SDMVSTRA ------------
 count    15560.000000
mean       160.267995
std          6.974232
min        149.000000
25%        155.000000
50%        160.000000
75%        166.000000
max        172.000000
Name: SDMVSTRA, dtype: float64
 ------------------------------------

------------ Columna INDFMPIR ------------
 count    1.335900e+04
mean     2.405937e+00
std      1.634346e+00
min      5.397605e-79
25%      1.020000e+00
50%      1.960000e+00
75%      3.880000e+00
max      5.000000e+00
Name: INDFMPIR, dtype: float64
 ------------------------------------

In [4]:
for columna in insulina.columns:
    print(f"------------ Columna {columna} ------------\n {insulina[columna].describe()}\n ------------------------------------ \n")

------------ Columna SEQN ------------
 count      5090.000000
mean     117177.326523
std        4487.335243
min      109264.000000
25%      113303.500000
50%      117265.500000
75%      121046.500000
max      124822.000000
Name: SEQN, dtype: float64
 ------------------------------------

------------ Columna WTSAFPRP ------------
 count    5.090000e+03
mean     5.388396e+04
std      6.853813e+04
min      5.397605e-79
25%      1.730597e+04
50%      3.284510e+04
75%      6.213588e+04
max      7.412592e+05
Name: WTSAFPRP, dtype: float64
 ------------------------------------

------------ Columna LBXIN ------------
 count    4625.000000
mean       14.975684
std        22.845041
min         0.710000
25%         6.310000
50%        10.180000
75%        16.610000
max       512.500000
Name: LBXIN, dtype: float64
 ------------------------------------

------------ Columna LBDINSI ------------
 count    4625.000000
mean       89.854106
std       137.070249
min         4.260000
25%        37.860000
50%        61.080000
75%        99.660000
max      3075.000000
Name: LBDINSI, dtype: float64
 ------------------------------------

------------ Columna LBDINLC ------------
 count    4.625000e+03
mean     1.513514e-03
std      3.887865e-02
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      5.397605e-79
max      1.000000e+00
Name: LBDINLC, dtype: float64
 ------------------------------------

In [5]:
for columna in colesterol.columns:
    print(f"------------ Columna {columna} ------------\n {colesterol[columna].describe()}\n ------------------------------------ \n")

------------ Columna SEQN ------------
 count     12198.000000
mean     117082.953107
std        4498.674913
min      109264.000000
25%      113178.250000
50%      117098.500000
75%      120994.750000
max      124822.000000
Name: SEQN, dtype: float64
 ------------------------------------

------------ Columna LBXTC ------------
 count    10828.000000
mean       177.463521
std         40.355743
min         71.000000
25%        149.000000
50%        173.000000
75%        201.000000
max        446.000000
Name: LBXTC, dtype: float64
 ------------------------------------

------------ Columna LBDTCSI ------------
 count    10828.000000
mean         4.589243
std          1.043624
min          1.840000
25%          3.850000
50%          4.470000
75%          5.200000
max         11.530000
Name: LBDTCSI, dtype: float64
 ------------------------------------

In [6]:
for columna in depresion.columns:
    print(f"------------ Columna {columna} ------------\n {depresion[columna].describe()}\n ------------------------------------ \n")

------------ Columna SEQN ------------
 count      8965.000000
mean     117107.849637
std        4501.048325
min      109266.000000
25%      113211.000000
50%      117091.000000
75%      121022.000000
max      124822.000000
Name: SEQN, dtype: float64
 ------------------------------------

------------ Columna DPQ010 ------------
 count    8.308000e+03
mean     3.952817e-01
std      8.022101e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      1.000000e+00
max      9.000000e+00
Name: DPQ010, dtype: float64
 ------------------------------------

------------ Columna DPQ020 ------------
 count    8.306000e+03
mean     3.727426e-01
std      7.581775e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      1.000000e+00
max      9.000000e+00
Name: DPQ020, dtype: float64
 ------------------------------------

------------ Columna DPQ030 ------------
 count    8.306000e+03
mean     6.609680e-01
std      9.920385e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      1.000000e+00
max      9.000000e+00
Name: DPQ030, dtype: float64
 ------------------------------------

------------ Columna DPQ040 ------------
 count    8.305000e+03
mean     7.639976e-01
std      9.594020e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      1.000000e+00
max      9.000000e+00
Name: DPQ040, dtype: float64
 ------------------------------------

------------ Columna DPQ050 ------------
 count    8.305000e+03
mean     4.096328e-01
std      8.190316e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      1.000000e+00
max      9.000000e+00
Name: DPQ050, dtype: float64
 ------------------------------------

------------ Columna DPQ060 ------------
 count    8.304000e+03
mean     2.579480e-01
std      6.824900e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      5.397605e-79
max      9.000000e+00
Name: DPQ060, dtype: float64
 ------------------------------------

------------ Columna DPQ070 ------------
 count    8.304000e+03
mean     2.786609e-01
std      7.131850e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      5.397605e-79
max      9.000000e+00
Name: DPQ070, dtype: float64
 ------------------------------------

------------ Columna DPQ080 ------------
 count    8.304000e+03
mean     1.717245e-01
std      5.915134e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      5.397605e-79
max      9.000000e+00
Name: DPQ080, dtype: float64
 ------------------------------------

------------ Columna DPQ090 ------------
 count    8.302000e+03
mean     5.938328e-02
std      3.728085e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      5.397605e-79
max      9.000000e+00
Name: DPQ090, dtype: float64
 ------------------------------------

------------ Columna DPQ100 ------------
 count    5.540000e+03
mean     3.348375e-01
std      6.593278e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      1.000000e+00
max      9.000000e+00
Name: DPQ100, dtype: float64
 ------------------------------------

In [7]:
for columna in proteinaC.columns:
    print(f"------------ Columna {columna} ------------\n {proteinaC[columna].describe()}\n ------------------------------------ \n")

------------ Columna SEQN ------------
 count     13772.000000
mean     117079.858844
std        4498.549164
min      109263.000000
25%      113184.750000
50%      117104.500000
75%      120981.250000
max      124822.000000
Name: SEQN, dtype: float64
 ------------------------------------

------------ Columna LBXHSCRP ------------
 count    11614.000000
mean         3.422093
std          7.792654
min          0.110000
25%          0.520000
50%          1.320000
75%          3.620000
max        246.860000
Name: LBXHSCRP, dtype: float64
 ------------------------------------

------------ Columna LBDHRPLC ------------
 count    1.161400e+04
mean     3.426899e-02
std      1.819271e-01
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      5.397605e-79
max      1.000000e+00
Name: LBDHRPLC, dtype: float64
 ------------------------------------

In [8]:
demografia.columns

Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'DMDBORN4', 'DMDYRUSZ', 'DMDEDUC2',
       'DMDMARTZ', 'RIDEXPRG', 'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG',
       'FIAPROXY', 'FIAINTRP', 'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA',
       'WTINTPRP', 'WTMECPRP', 'SDMVPSU', 'SDMVSTRA', 'INDFMPIR'],
      dtype='object')

In [9]:
consideracion = pd.DataFrame()
consideracion["ID"] = demografia["SEQN"]
consideracion["Edad"] = demografia["RIDAGEYR"]
consideracion["Genero"] = demografia["RIAGENDR"] #1 = hombre; 2= mujer
consideracion["Raza"] = demografia["RIDRETH3"] # 1 = mexico; 2 = otro hispano; 3 = Blanco; 4= negro; 6= asiatico; 7 = otro
consideracion["Educacion"] = demografia["DMDEDUC2"] #ver nhanes
consideracion["EstadoCivil"] = demografia["DMDMARTZ"]
consideracion["NivelPobreza"] = demografia["INDFMPIR"]

In [10]:
pd.options.display.float_format = '{:.2f}'.format
consideracion[consideracion["NivelPobreza"]<1]

           ID  Edad  Genero  Raza  Educacion  EstadoCivil  NivelPobreza
1      109264    13       2     1          0            0          0.83
6      109269     2       1     2          0            0          0.96
9      109272     0       1     1          0            0          0.73
10     109273    36       1     3          4            3          0.83
13     109276     0       1     4          0            0          0.00
...       ...   ...     ...   ...        ...          ...           ...
15524  124787    19       2     4          0            0          0.80
15529  124792    32       1     2          5            3          0.00
15535  124798    55       1     2          1            3          0.80
15543  124806     4       2     4          0            0          0.38
15556  124819     2       1     4          0            0          0.07

[3226 rows x 7 columns]

In [11]:
for columna in consideracion.columns[:-1]:
    consideracion[columna] = consideracion[columna].fillna(0)
    consideracion[columna] = consideracion[columna].astype(int)
consideracion

           ID  Edad  Genero  Raza  Educacion  EstadoCivil  NivelPobreza
0      109263     2       1     6          0            0          4.66
1      109264    13       2     1          0            0          0.83
2      109265     2       1     3          0            0          3.06
3      109266    29       2     6          5            3          5.00
4      109267    21       2     2          4            3          5.00
...       ...   ...     ...   ...        ...          ...           ...
15555  124818    40       1     4          5            1          3.82
15556  124819     2       1     4          0            0          0.07
15557  124820     7       2     3          0            0          1.22
15558  124821    63       1     4          2            2          3.71
15559  124822    74       1     2          3            1           NaN

[15560 rows x 7 columns]

In [13]:
insulina['SEQN'] = insulina['SEQN'].astype(int)
insulina = insulina.rename(columns={'SEQN': 'ID'})
insulina = insulina.rename(columns={'WTSAFPRP': "Peso de Submuestra en Ayunas"})
insulina = insulina.rename(columns={'LBXIN': "Insulina (μU/mL)"})
insulina = insulina.rename(columns={'LBDINSI': "Insulina (pmol/L)"})
insulina = insulina.rename(columns={'LBDINLC': "Código de Comentario de Insulina"})

In [14]:
consideracion_insulina = pd.merge(consideracion, insulina, on='ID', how='inner')

In [15]:
insulina_nonna = consideracion_insulina.dropna()

       ID  Edad  Genero  Raza  Educacion  EstadoCivil  NivelPobreza  \
0  109264    13       2     1          0            0          0.83
1  109271    49       1     3          2            3           NaN
2  109274    68       1     7          4            3          1.20
3  109277    12       2     1          0            0          1.35
4  109282    76       1     3          5            1          3.61

   Peso de Submuestra en Ayunas  Insulina (μU/mL)  Insulina (pmol/L)  \
0                      27533.17              6.05              36.30
1                      18100.97             16.96             101.76
2                      16281.76             13.52              81.12
3                      32230.05              6.44              38.64
4                      79007.10              7.49              44.94

   Código de Comentario de Insulina
0                              0.00
1                              0.00
2                              0.00
3                              0.00
4                              0.00

In [16]:
colesterol = colesterol.rename(columns={
    'SEQN': 'ID',
    'LBXTC': 'Colesterol Total (mg/dL)',
    'LBDTCSI': 'Colesterol Total (mmol/L)'
})

In [17]:
consideracion_colesterol = pd.merge(consideracion_insulina, colesterol, on='ID', how='inner')

In [18]:
consideracion_colesterol.head()

,ID,Edad,Genero,Raza,Educacion,EstadoCivil,NivelPobreza,Peso de Submuestra en Ayunas,Insulina (μU/mL),Insulina (pmol/L),Código de Comentario de Insulina,Colesterol Total (mg/dL),Colesterol Total (mmol/L)
0,109264,13,2,1,0,0,0.83,27533.17,6.05,36.30,0.00,166.00,4.29
1,109271,49,1,3,2,3,NaN,18100.97,16.96,101.76,0.00,147.00,3.80
2,109274,68,1,7,4,3,1.20,16281.76,13.52,81.12,0.00,105.00,2.72
3,109277,12,2,1,0,0,1.35,32230.05,6.44,38.64,0.00,129.00,3.34
4,109282,76,1,3,5,1,3.61,79007.10,7.49,44.94,0.00,233.00,6.03

In [19]:
proteinaC = proteinaC.rename(columns={
    'SEQN': 'ID',
    'LBXHSCRP': 'Proteína C Reactiva (mg/L)',
    'LBDHRPLC': 'Código de Comentario de Proteína C Reactiva'
})

In [20]:
consideracion_proteinaC = pd.merge(consideracion_colesterol, proteinaC, on='ID', how='inner')

In [21]:
consideracion_proteinaC.head()

,ID,Edad,Genero,Raza,Educacion,EstadoCivil,NivelPobreza,Peso de Submuestra en Ayunas,Insulina (μU/mL),Insulina (pmol/L),Código de Comentario de Insulina,Colesterol Total (mg/dL),Colesterol Total (mmol/L),Proteína C Reactiva (mg/L),Código de Comentario de Proteína C Reactiva
0,109264,13,2,1,0,0,0.83,27533.17,6.05,36.30,0.00,166.00,4.29,0.11,1.00
1,109271,49,1,3,2,3,NaN,18100.97,16.96,101.76,0.00,147.00,3.80,28.68,0.00
2,109274,68,1,7,4,3,1.20,16281.76,13.52,81.12,0.00,105.00,2.72,1.60,0.00
3,109277,12,2,1,0,0,1.35,32230.05,6.44,38.64,0.00,129.00,3.34,2.46,0.00
4,109282,76,1,3,5,1,3.61,79007.10,7.49,44.94,0.00,233.00,6.03,3.11,0.00

In [22]:
depresion = depresion.rename(columns={
    'SEQN': 'ID',
    'DPQ010': 'Poca Interés en Hacer Cosas',
    'DPQ020': 'Sentirse Deprimido o Sin Esperanza',
    'DPQ030': 'Problemas para Dormir',
    'DPQ040': 'Cansancio o Poca Energía',
    'DPQ050': 'Poco Apetito o Comer en Exceso',
    'DPQ060': 'Sentirse Mal Acerca de Uno Mismo',
    'DPQ070': 'Problemas de Concentración',
    'DPQ080': 'Movimientos o Hablar Lento o Rápido',
    'DPQ090': 'Pensamientos de Muerte o Autolesión',
    'DPQ100': 'Dificultad que Estos Problemas Causan'
})

In [23]:
consideracion_proteinaC = pd.merge(consideracion_proteinaC, depresion, on='ID', how='inner')

In [24]:
consideracion_proteinaC.head()

,ID,Edad,Genero,Raza,Educacion,EstadoCivil,NivelPobreza,Peso de Submuestra en Ayunas,Insulina (μU/mL),Insulina (pmol/L),...,Poca Interés en Hacer Cosas,Sentirse Deprimido o Sin Esperanza,Problemas para Dormir,Cansancio o Poca Energía,Poco Apetito o Comer en Exceso,Sentirse Mal Acerca de Uno Mismo,Problemas de Concentración,Movimientos o Hablar Lento o Rápido,Pensamientos de Muerte o Autolesión,Dificultad que Estos Problemas Causan
0,109271,49,1,3,2,3,NaN,18100.97,16.96,101.76,...,2.00,1.00,0.00,0.00,0.00,0.00,2.00,0.00,0.00,0.00
1,109274,68,1,7,4,3,1.20,16281.76,13.52,81.12,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
2,109282,76,1,3,5,1,3.61,79007.10,7.49,44.94,...,0.00,1.00,0.00,1.00,0.00,0.00,0.00,3.00,0.00,0.00
3,109286,33,2,6,5,1,1.36,0.00,16.46,98.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,109290,68,2,4,5,2,5.00,8548.62,20.25,121.50,...,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00